SHOPIFY_STORE_DOMAIN=shopmind-a48eho1s.myshopify.com
SHOPIFY_ADMIN_ACCESS_TOKEN=shpat_xxxxxxxxxxxxxxxxxxxx
GROQ_API_KEY=gsk_xxxxxxxxxxxxxxxxxxxx
SHOPIFY_API_VERSION=2024-01
PORT=3000
NODE_ENV=development
SESSION_SECRET=shopmind-secret-change-this-in-production


