SHOPIFY_STORE_DOMAIN=shopmind-a48eho1s.myshopify.com
SHOPIFY_ADMIN_ACCESS_TOKEN=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
SHOPIFY_API_VERSION=2024-01
PORT=3000
NODE_ENV=development
SESSION_SECRET=shopmind-secret-change-this-in-production

GROQ_API_KEY=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
